<footer class="footer-container">
  <div class="footer-top">
    <div class="logo-and-text">
      <img src="assets/logo.png" alt="Logo" class="logo-img">
      <div class="footer-text">
        <p>Dalla Comunità alla Community</p>
        <p>"Voler comunicare al mondo come il nostro carisma vede il mondo"</p>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="footer-contacts">
      <h3>CONTATTI</h3>
      <p>
        <i class="fas fa-envelope icon-envelope"></i>
        <a href="mailto:email@example.com">Contatti: email example.com</a>
      </p>
      <p>
        <i class="fas fa-home icon-home"></i>
        <a href="https://www.example.com" target="_blank">Sito Web</a>
      </p>
    </div>
    <div class="footer-sponsors">
      <h3>SPONSOR</h3>
      <div class="sponsor-buttons">
        <button>SALESIANI ITALIA CENTRALE</button>
        <button>MOVIMENTO GIOVANILE SALESIANO</button>
        <button>NOTE DI PASTORALE GIOVANILE</button>
        <button>OSSERVATORE ROMANO</button>
        <button>INPATTO</button>
        <button>IMMISCHIATI</button>
      </div>
    </div>
  </div>
</footer>
