.footer-container {
  background-color: #4B0082;
  color: white;
  padding: 20px;
}

.footer-top {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.logo-and-text {
  display: flex;
  align-items: center;
}

.logo-img {
  max-width: 150px;
  height: auto;
  margin-right: 20px;
}

.footer-text {
  font-size: 18px;
}

.footer-text p:first-child {
  font-weight: bold;
}

.footer-text p:last-child {
  font-style: italic;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.footer-contacts,
.footer-sponsors {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.footer-contacts {
  align-items: flex-end;
}

.footer-sponsors {
  align-items: flex-start;
}

.footer-contacts h3 {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.footer-sponsors h3 {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.footer-contacts p {
  display: flex;
  align-items: center;
  margin: 10px 0;
  font-size: 16px;
}

.footer-contacts a {
  color: white;
  text-decoration: none;
  margin-left: 5px;
}

.footer-contacts .icon-envelope,
.footer-contacts .icon-home {
  color: #FFA500;
  margin-right: 10px;
}

.sponsor-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  max-width: 30ch;
}

.sponsor-buttons button {
  background-color: #FFA500;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 5px;
  transition: background-color 0.3s;
  white-space: nowrap;
}

.sponsor-buttons button:hover {
  background-color: #FF8C00;
}

/* Ottimizzazioni per schermi mobili */
@media (max-width: 768px) {
  .footer-bottom {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .footer-sponsors {
    order: 1;
    align-items: flex-start;
  }

  .footer-contacts {
    order: 2;
    align-items: flex-start;
  }

  .footer-contacts h3, .footer-sponsors h3 {
    align-self: flex-start;
  }

  .sponsor-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 100%;
  }

  .footer-contacts p {
    font-size: 14px;
    margin: 5px 0;
  }
}
