<div class="my-10 flex">
  <div class="mese-container">
    <div class="mese-selettore">
      <div class="freccia sinistra">
        <button (click)="MesePrecedente()">&laquo;</button>
      </div>
      <div class="mese">
        <span>{{ listaMesi[meseCorrente] }} {{ annoCorrente }}</span>
      </div>
      <div class="freccia destra">
        <button (click)="MeseSuccessivo()">&raquo;</button>
      </div>
    </div>

    <div class="container">
      <div class="giorni">Lunedi</div>
      <div class="giorni">Martedi</div>
      <div class="giorni">Mercoledi</div>
      <div class="giorni">Giovedi</div>
      <div class="giorni">Venerdi</div>
      <div class="giorni">Sabato</div>
      <div class="giorni">Domenica</div>

      <div *ngFor="let giorno of giorniMese" [ngClass]="{'cubo': true, 'grigio': giorno.nonCorrente}">
        <div class="numero-giorno">
          {{ giorno.numero }}
          <span *ngIf="giorno.isToday" class="blue-dot"></span>
        </div>
        <div *ngIf="giorno.evento && giorno.evento.length > 0" class="contenuto-eventi">
          <div *ngFor="let evento of giorno.evento" class="evento-card" (click)="apriModal(giorno.numero, meseCorrente, annoCorrente, giorno.evento)">
            {{ evento.titolo }}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bottoni-container">
    <h2>News</h2>
    <div *ngFor="let bottone of bottoni" class="bottone">
      <img [src]="'assets/' + bottone.img" alt="Image" class="bottone-img">
      <a [href]="bottone.linkEsterno" target="_blank" rel="noopener noreferrer">{{ bottone.label }}</a>
    </div>
  </div>
</div>
