.slider-container {
  position: relative;
  width: 100%; /* Estende lo slider a tutta la larghezza della pagina */
  height: 60vh; /* Altezza dello slider limitata al 60% dell'altezza della finestra */
  margin: 0;
  overflow: hidden;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%; /* Assicura che lo slider occupi tutta la larghezza */
}

.slide {
  min-width: 100%; /* Ogni slide occupa tutta la larghezza */
  height: 60vh; /* Ogni slide occupa il 60% dell'altezza della finestra */
  background-size: cover;
  background-position: center;
  position: relative;
  opacity: 0.8;
  transition: opacity 0.5s ease-in-out;
  z-index: 1;
}

.slide.active {
  opacity: 1;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7); /* Aumenta la trasparenza per una migliore leggibilità */
  color: white;
  padding: 20px;
  box-sizing: border-box;
  z-index: 2; /* Assicura che l'overlay sia sopra l'immagine di sfondo */
}

.event-details h2 {
  margin: 0;
  font-size: 24px;
}

.event-details p {
  margin: 5px 0 0;
}

.dots {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  z-index: 3; /* Mantieni i puntini sopra tutto il resto */
}

.dots span {
  display: block;
  width: 12px;
  height: 12px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dots .active-dot {
  background-color: #717171;
}

.controls {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  z-index: 3;
}

.controls button {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.controls button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
